<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Linklistic</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="{{ url_for('static', filename='index.html') }}">Linklistic</a>
      <ul class="nav nav-pills">
        <!--
        <li class="nav-item active">
          <a class="nav-link" href="static/#">Home <span class="sr-only">(current)</span></a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('static', filename='about.html') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('static', filename='usage.html') }}">Usage</a>
        </li>
      </ul>
    </nav>

    <div class="container">

      <!-- big title area, probably won't use -->      
      <!--
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
      -->

      {% if title %}
        <h3>{{ title }}</h3>
      {% else %}
        <h3></h3>
      {% endif %}

      {% if by %}
        <h4>from <strong>{{ by }}</strong></h3>
      {% endif %}

      {% if message %}
        <p><small>{{ message }}</small></p>
      {% endif %}

      <!--
      <div class='link-list'>
        {% for link in links %}
        <div class="row">
          <div class="col-md-8">
            <a href="{{ link.href }}">{{ link.title }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      -->

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th>Link</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>

          {% for link in links %}         
            <tr>
              <!-- <td>{{loop.index}}</td> -->
              {% if link.title %}
                <td><a href="{{ link.href }}">{{ link.title }}</a></td>
              {% else %}
                <td><a href="{{ link.href }}">{{ link.href }}</a></td>
              {% endif %}
              <td>{{ link.note }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>

<style>
p {
    letter-spacing: 2px;
}
</style>
    <div>
      <p><small>{{ brand_message }}</small></p>
      <p><small>
        <a href="http://linklistic.com/{{ full_query }}">
          <pre>linklistic.com/{{ full_query }}</pre>
        </a>
        </small></p>
    </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
