<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/grid.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="static/#">Linklistic</a>
      <ul class="nav nav-pills">
        <!--
        <li class="nav-item active">
          <a class="nav-link" href="static/#">Home <span class="sr-only">(current)</span></a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link" href="static/#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="static/#">Usage</a>
        </li>
      </ul>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>

      </div><!-- /.starter-template -->

      <h3>Two columns</h3>
      <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>

      <div class='link-list'>

        {% for link in links %}
        <div class="row">
          <div class="col-md-8">
            <a href="{{ link.href }}">{{ link.title }}</a>

          </div>
          <div class="col-md-4">

            preview of content?

          </div>
        </div><!-- /.row -->
        {% endfor %}

      </div><!-- /.link-list -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
